@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
	margin: 0;
	background-color: #1e1e1e;
}

hr {
	border: 1px solid white;
}

.topbar {
	/* display: inline-block; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
	flex-direction: row;
	margin: 0;
	background-color: #262626;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.topbar p {
	text-align: left;
	font-family: Inconsolata;
	font-weight: 400;
	font-size: 20px;
	user-select: none;
	color: white;
}

.topbar span {
	font-size: 15px;
	color: white;
}

.content-container {
	display: block;
	margin: auto;
	width: 50%;
	word-wrap: break-word;
	background-color: #262626;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	margin-bottom: 20px;
	color:white;
	font-family: Inconsolata;
}
.content-container #comment{
	color:gray
}
.content-container p {
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	color: white;
	user-select: none;
	padding: 2px 0;
	margin: 0;
}

.content-container video {
	width: 100%;
	height: 500px;
	background-color: black;
}

.content-container input[type='button'] {
	display: block;
	background-color: transparent;
	padding: 5px 10px;
	margin: 0;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	width: 100%;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	text-align: center;
	color: white;
	border: none;
}

.content-container input[type='button']:hover {
	text-decoration: underline;
	background-color: #212121;
}

.content-container a {
	display: block;
	background-color: transparent;
	padding: 5px 10px;
	margin: 0;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	user-select: none;
	text-decoration: none;
	text-align: left;
	color: white;
}

.content-container a:hover {
	text-decoration: underline;
	background-color: #212121;
}

.content-container a:active {
	background-color: #1a1a1a;
}

footer {
	bottom: 0;
	width: 100%;
	position: fixed;
}

footer p {
	text-align: center;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	color: #c9c9c9;
	user-select: none;
}

@media screen and (max-width: 768px) {
	.topbar p {
		font-size: 17px;
	}

	.topbar a {
		font-size: 12px;
	}

	.content-container {
		width: 85%;
	}

	.content-container video {
		height: 300px;
	}

	.content-container a {
		font-size: 12px;
	}
}

#juump {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@keyframes jumpscare {
       	from {
		opacity: 1
	}
	to {
		opacity: 0;
		display: none;
	}
}

video::-webkit-media-controls-play-button {display: none}
video::-webkit-media-controls-timeline {display: none}
video::-webkit-media-controls-current-time-display {display: none}
video::-webkit-media-controls-time-remaining-display {display: none}
video::-webkit-media-controls-fullscreen-button {display: none}
video::-webkit-media-controls-panel {background-image: none}
video::-webkit-media-controls {background: none}
